.form{
    margin: 20px;
}
.form input, .form select{
    display: block;
    background-color: #eee;
    border-radius: 5px;
    width: 300px;
    padding: 5px;
    border: None;
}
.form select{
    width: 80px;
}
.form td:nth-child(1) {  
    text-align: right;
    padding-right: 5px;
}
.form h3{
    text-align: left;
}