.bg-photo{
    position: fixed;
    width: 100%;
    background-image: url(/static/photos/tanghin.jpg);
    background-size: cover;
    filter: blur(3px);
    background-position: 50% 50%;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.bg-photo2{
    width: 100%;
    background-color: rgba(3, 9, 75, 0.4);
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}