<html>
    <head>
        <title>Booking</title>

        <link rel="stylesheet" type="text/css" href="/static/css/home.css">
        <link rel="icon" type="image/png" href="/static/photos/icon.png">
        <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
        
    </head>
    <body>
        
        {% include "/top_banner.html" %}

        <div id="content">
            <h1>
                <a href = "/booking">Booking</a>
            </h1>
            {{ table|safe }}
        </div>
    </body>
</html>