
<html>
    <head>
        <title>Booking - {{ rid }}</title>
        <link rel="stylesheet" type="text/css" href="/static/css/top-navigation.css">
        <link rel="stylesheet" type="text/css" href="/static/css/home.css">
        <link rel="stylesheet" type="text/css" href="/static/css/roomBooking2.css">
        <link rel="icon" type="image/png" href="/static/photos/icon.png">

        <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script>
            const categories = {{ categories|tojson| safe  }};
            const units = {{ units|tojson| safe  }};
        </script>
        <script src="/static/js/roombooking2.js"></script>
    </head>
    <body>
        {% include "/top_navigation.html" %}

        <div id="content">
            <h1>
                <a href = "/booking/room">Room Booking</a> >> <a href = "/booking/room/{{ rid }}">{{ rid }} - {{ rname }}</a>
            </h1>
            <input type="week" name="week" min="{{ minweek|safe }}" value="{{ minweek|safe }}">
            <input type="submit" value = "<" name="previous">
            <input type="submit" value = ">" name="next">
            {{ field_bar|safe }}
            <div class="scrollable">
                <div class="timeline">
                    <ul>
                        <script>
                            for(i=0; i<=24; i++){
                                if(i<=9)
                                    var j = "0" + i
                                else
                                    var j = i
                                if (i%24<10){
                                    document.write('<li><div class="timeline-text">0'+j%24+':00</div></li>')
                                }
                                else{
                                    document.write('<li><div class="timeline-text">'+j%24+':00</div></li>')
                                }
                                
                            }
                        </script>
                    </ul>
                </div>
                
                <div class = "schedule">

                    {% for i in range(7) %}
                        <div class = "column">
                            
                            <ul>
                                <script>
                                    for(j=0; j<=24; j++){
                                        document.write('<li></li>')
                                    }
                                </script>
                            </ul>
                            <div class = "event{{ i|safe }}">
                                {{ events[i]|safe }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <h1>Booking Form</h1>
            <table>
                <thead>
                    <th>Start Date & Time</th>
                    <th>End Date & Time</th>
                    <th>School Unit</th>
                    <th>Description</th>
                    <th>#Submit</th>
                </thead>
                <tr>
                    <td>
                        <input type="datetime-local" name="STIME">
                    </td>
                    <td>
                        <input type="datetime-local" name="ETIME">
                    </td>
                    <td>
                        <select name="CATEGORY">
                            <option disabled selected value> -- category(optional) -- </option>
                        </select><br>
                        <select name="UNIT">
                            <option disabled selected value> -- unit -- </option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="DESCRIPTION" placeholder = "Description">
                    </td>
                    <td>
                        <input type="submit" value = "submit" name = "submit">
                    </td>
                </tr>
            </table>
            <div id="error"></div>
        </div>
    </body>
</html>