<div id="top_banner">
    <div class="title">
        THMSS - Facilities & Rooms Booking System
    </div>
    <div class="logout">
        <a href="/logout">Logout</a>
    </div>
</div>
<div id="top_banner2">
    <table>
        <tr>
            <td>
                <a href="/home"> Home </a>
            </td>
            <td>
                <a href="/booking"> Booking </a>
            </td>
            {% if permission["ADDRECORD"]%}
                <td>
                    <a href="/records"> My Records </a>
                </td>
            {% endif %}
            {% if permission["VIEWUSER"] %}
                <td>
                    <a href="/users"> Other Users </a>
                </td>
            {% endif %}
            {% if permission["ROLE"]=="ADMIN" %}
                <td>
                    <a href="/sql"> SQL </a>
                </td>
            {% endif %}
            
        </tr>
    </table>
</div>