<div id="top_banner">
    <div class="title">
        THMSS - Facilities & Rooms Booking System
    </div>
    <div class="logout">
        <a href="/logout">Logout</a>
    </div>
</div>
<div id="top_banner2">
    
    <a class="top-level-entry-container" href="/home"> Home </a>
    <a class="top-level-entry-container" href="/booking"> Booking </a>
    {% if permission["ADDRECORD"]%}
        <a class="top-level-entry-container" href="/records"> My Records </a>
    {% endif %}
    {% if permission["VIEWUSER"] %}
        <a class="top-level-entry-container" href="/users"> User Management </a>
    {% endif %}
    {% if permission["ROLE"]=="ADMIN" %}
        <a class="top-level-entry-container" href="/sql"> SQL </a>
    {% endif %}
            
</div>