<html>
    <head>
        <title>Booking</title>

        {% include "/header.html" %}
        <script>
            $(document).ready(function(){
                col = {{columns|safe}};
                for(let i = 0; i<col.length; i++){
                    col[i] = {title: col[i]}
                }
                $('#tableinfo').DataTable({  
                    data: {{ data|safe }},
                    columns: col, 
                    info: false,
                    paging: false,
                    scrollX: true
                })

            });
        </script>
    </head>
    <body>
        
        {% include "/top_navigation.html" %}
        
        <div class="container mt-5">
            <h2 class="fw-bold">
                <a class="text-decoration-none text-dark" href = "/booking/{{tname|safe}}">{{tname.title()|safe}} Booking</a>
            </h2>
            <hr>
            <p>
                To book a {{tname}}, please click hyperlink of its {{tname}} ID
            </p>
            
            <div class="container-fluid">
                <table id="tableinfo" class="display">
                </table>
            </div>
        </div>
        
    </body>
</html>