
<html>
    <head>
        <title>{{ id }}</title>
        <script>document.getElementsByTagName("html")[0].className += " js";</script>
        <link rel="stylesheet" type="text/css" href="/static/css/booking.css">
        {% include "/header.html" %}
        <script src="/static/js/booking_main.js"></script>
        <script src="/static/js/booking_util.js"></script>
        <script src="/static/js/booking.js"></script>
        <script>
            const categories = {{ categories|tojson| safe  }};
            const units = {{ units|tojson| safe  }};
        </script>

    </head>
    <body>
        {% include "/top_navigation.html" %}

        <div class="container mt-5">
            <h2 class="fw-bold">
                <a class="text-decoration-none text-dark" href = "/booking/{{ tname|safe }}">{{ tname.title()|safe }} Booking</a> >> <a class="text-decoration-none text-dark" href = "/booking/{{ tname|safe }}/{{ id }}">{{ id }} - {{ name }}</a>
            </h2>
            <hr>
            <p>
                Use the schedule below to view bookings. Click on any scheduled event for more details. 
            </p>
            <p>
                To book a new time slot, click the "Book" button.
            </p>
            <p>
                Navigate through the weeks using the arrows or select a specific week to jump to that week.
            </p>
            <div class="row">
                <div class="col-9">
                    <input class="btn btn-primary" type="week" name="week" min="{{ minweek|safe }}" value="{{ minweek|safe }}">
                    <input class="btn btn-outline-primary" type="submit" value = "<" name="previous">
                    <input class="btn btn-outline-primary" type="submit" value = ">" name="next">
                </div>
                <div class="col-3 text-end">
                    <button class="btn btn-outline-dark book-btn">Book</button>
                </div>
            </div>
                
            <div id="schedule"></div>
        </div>
        
        <div class="modal fade" id="bookModal" tabindex="-1" aria-labelledby="bookModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="bookModalLabel">Booking Form ({{ id }} - {{ name }})</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body bookcontent">
                        <div class="container form">
                            <div class="form-floating mb-3">
                                <input type="datetime-local" name="STIME" class='form-control'>
                                <label>Start Datetime</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="datetime-local" name="ETIME" class='form-control'>
                                <label>End Datetime</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select name="CATEGORY" class='form-control'>
                                    <option disabled selected value> -- category(optional) -- </option>
                                </select>
                                <label>Unit Category (optional)</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select name="UNIT" class='form-control'>
                                    <option disabled selected value> -- unit -- </option>
                                </select>
                                <label>School Unit</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea type="text" name="DESCRIPTION" class="form-control" placeholder = "Any"></textarea>
                                <label>Description</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary book" data-bs-dismiss="modal">Book</button>
                    </div>
                </div>
            </div>
        </div>
        
        
        <script>
            const dt = {{ data|tojson }};
            const col = {{ col|tojson }};
            createSchedule($('#schedule'), 30);
            updateSchedule(dt, col);
        </script>
    </body>
</html>