<html>
    <head>
        <title>Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <link rel="stylesheet" type="text/css" href="/static/css/dashboard.css"> -->
        
        {% include "/header.html" %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script type="text/javascript" src="/static/js/chart.utils.js"></script>
        <script type="text/javascript" src="https://yourweb.com/inc/chart.utils.js"></script>
        <script>
            const data = {{ data | safe }};
        </script>

        <script src="/static/js/dashboard.js"></script>
    </head>
    <body>
        {% include "/top_navigation.html" %}
        
        

        <div class="container mt-5">
            <h2 class="fw-bold">
                <a class="text-decoration-none text-dark" href = "/dashboard">Dashboard</a>
            </h2>
            <hr>
            <p>
                Monitor system performance and user activity here.
            </p>
            
            <div class="h3 mt-5 mb-4"> System Performance: </div>
            <hr>
            <div class="row">
                <div class="col-6 rounded bg-light p-4 border border-white" style="box-sizing: border-box;">
                    <!--Code Source: https://codepen.io/jagathish/pen/ZXzbzN -->
                    <h2>CPU</h2>
                    <div class="cpu progress position-relative" style="height:40px">
                        <div class="progress-bar" role="progressbar" style="width:100%; transform: scaleX(0); transform-origin: 0% 50%"></div>
                        <small class="justify-content-center d-flex position-absolute w-100 h4" style="margin: auto; line-height: 40px;"><span>0</span>%</small>
                    </div>
                </div>
                <div class="col-6 rounded bg-light p-4 border border-white" style="box-sizing: border-box;">
                    <div class="row align-middle">
                        <div class="col-4 h2">
                            RAM
                        </div>
                        <div class="col-8 text-end">
                            {{ ram }} MB
                        </div>
                    </div>
                    <div class="ram progress position-relative" style="height:40px">
                        <div class="progress-bar" style="width:100%; transform: scaleX(0); transform-origin: 0% 50%"></div>
                        <small class="justify-content-center d-flex position-absolute w-100 h4 text" style="margin: auto; line-height: 40px;"><span>0</span>%</small>
                    </div>
                </div>
            </div>
            
            <div class="h3 mt-5 mb-4"> User Activity in the Past 1 Year: </div>
            <hr>
            <div class="row">
                <div class="col-lg-6 rounded bg-light p-4 border border-white">
                    <h2>Website Login Times</h2>
                    <canvas id="login_times" class="w-100"></canvas>
                </div>
                <div class="col-lg-6 rounded bg-light p-4 border border-white">
                    <h2>No. of Records in Each Month</h2>
                    <canvas id="month_r_f" class="w-100"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 rounded bg-light p-4 border border-white">
                    <h2>No. of Records in Each Hour (AM)</h2>
                    <canvas id="hour_r_f_am" class="w-100"></canvas>
                </div>
                <div class="col-lg-6 rounded bg-light p-4 border border-white">
                    <h2>No. of Records in Each Hour (PM)</h2>
                    <canvas id="hour_r_f_pm" class="w-100"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 rounded bg-light p-4 border border-white">
                    <h2>No. of Records in Each Weekday</h2>
                    <canvas id="weekday_r_f" class="w-100"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 rounded bg-light p-4 border border-white">
                    <h2>Top 10 Most Popular Room (in hour)</h2>
                    <canvas id="10_r" class="w-100"></canvas>
                </div>
                <div class="col-lg-6 rounded bg-light p-4 border border-white">
                    <h2>Top 10 Most Popular Facility (in hour)</h2>
                    <canvas id="10_f" class="w-100"></canvas>
                </div>
            </div>
        </div>
    </body>
</html>