<html>
    <head>
        <title>Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/css/home.css">
        <link rel="stylesheet" type="text/css" href="/static/css/top-navigation.css">
        <link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
        <link rel="stylesheet" type="text/css" href="/static/css/records.css">
        <link rel="icon" type="image/png" href="/static/photos/icon.png">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="/static/js/dashboard.js"></script>
        <script>
            const data = {{ data|tojson|safe  }};
        </script>
    </head>
    <body>
        {% include "/top_navigation.html" %}
        
        

        <div id="content">
            <h1>
                <a href = "/dashboard">Dashboard</a>
            </h1>
            View reports in the past:
            <div class = "pagination">
                <ul>
                    <li><button class="active">1 Week </button></li>
                    <li><button>1 Month</button></li>
                    <li><button>6 Month</button></li>
                    <li><button>1 Year</button></li>
                </ul>
            </div>
        </div>
        <div class="box-row">
            <div class="box cpu">
                <!--Code Source: https://codepen.io/jagathish/pen/ZXzbzN-->
                <h2>CPU</h2>
                <div class="progress">
                    <div class="barOverflow">
                      <div class="bar"></div>
                    </div>
                    <span>0</span>%
                </div>
            </div>
            <div class="box ram">
                <h2>RAM</h2>
                <div class="ram-size span"> {{ ram }} MB </div>
                <div class="progress">
                    <div class="barOverflow">
                      <div class="bar"></div>
                    </div>
                    <span>0</span>%
                </div>
            </div>
            <div class="box">
                <h2> Room Records </h2>
                <div class="value room_records"></div>
                <span> Total </span>
                <div class="value room_records_approved"></div>
                <span> Approved </span>
            </div>
            <div class="box">
                <h2> Facility Records </h2>
                <div class="value facility_records"></div>
                <span> Total </span>
                <div class="value facility_records_approved"></div>
                <span> Approved </span>
            </div>
            <div class="box">
                <h2> Website Logins </h2>
                <div class="value login_times"></div>
            </div>
        </div>
        <div class="box-row">
            <div class="box">
                <h2> Number of Room Records in Each Hour </h2>
                <div class="value room_records_num_each_hour"></div>
            </div>
            <div class="box">
                <h2> Number of Facility Records in Each Hour </h2>
                <div class="value facility_records_num_each_hour"></div>
            </div>
        </div>
        <div class="box-row">
            <div class="box">
                <h2> Number of Room Records in Each Day </h2>
                <div class="value room_records_num_each_day"></div>
            </div>
            <div class="box">
                <h2> Number of Facility Records in Each Day </h2>
                <div class="value facility_records_num_each_day"></div>
            </div>
        </div>
        <div class="box-row">
            <div class="box">
                <h2> Total Hours of Records of 10 Most Popular Rooms </h2>
                <div class="value most_popular_room"></div>
            </div>
            <div class="box">
                <h2> Total Hours of Records of 10 Most Popular Facilities </h2>
                <div class="value most_popular_facility"></div>
            </div>
        </div>
    </body>
</html>