<html>
    <head>
        <title>Login</title>
        {% include "/header.html" %}
        <link rel="stylesheet" type="text/css" href="/static/css/login.css">
        <script>
            $(document).ready(function(){

                $(document).on('click',"button#login-btn", function(){
                    loading_alert_box()
                    var uid = $("input[name='userid']").val();
                    var pass = $("input[name='password']").val();

                    $.ajax({
                        type: 'POST',
                        url: "",
                        data: {"userid": uid, "password": pass},
                        success: function(response) {
                            empty_alert_box();
                            if ('error' in response){
                                $('#errorModal').find('.modal-body').html(response.error);
                                $('#errorModal').modal('show');
                            }
                            else{
                                window.location.href = '/home';
                            }
                        },
                        error: function(error) {
                            error_alert_box(error);
                        }
                    });
                })
                $('html').keypress("keydown", function (e) {
                    var key = e.which;
                    if (key == 13) {
                        $("button#login-btn").click();
                    }
                });

            })
        </script>
        
    </head>
    <body>
        {% include "/top_nav_login.html" %}
        <div class="d-flex align-items-center mt-5 justify-content-center w-100">
            <div class="bg-white rounded p-4 text-center" style="width: 450px; max-width: 90%;">
                <h1>Login</h1>
                <div class="w-100 form">
                    <div class="form-floating mt-3">
                        <input class='form-control' type="text" name="userid" placeholder="any">
                        <label>User ID</label>
                    </div>
                    <div class="form-floating mt-3">
                        <input class='form-control' type="password" name="password" placeholder="any">
                        <label>Password</label>
                    </div>
                </div>
                <div class="text-end w-100">Forget password?</div>
                <button class='mt-4 mb-4 btn btn-outline-primary w-100' id="login-btn">Login</button>
                <div class="text-end w-100">Do not have an account?<br>Please contact Admin</div>
                <hr>
                <p class="text-start">
                    Or continue with
                </p>
                <form action="/login" method="POST">
                    <button name="google-btn" value="1" class='mt-4 mb-4 btn btn-outline-danger w-100' id="google-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                            <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                          </svg>
                        <span class="ms-2 fs-6">Sign in With Google</span>
                    </button>
                </form>
                
            </div>
        </div>
    </body>
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Error</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</html>