<html>
    <head>
        <title>THMSS eBooking</title>
        {% include "/header.html" %}
        <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    </head>
    <body>
        {% include "/top_nav_login.html" %}
        <div class="text-white d-flex align-items-center justify-content-center w-100" style="height: calc(100%-63.5px);">
            <div class="container">
                <p style="font-size: 4em">THMSS</p>
                <p style="font-size: 3em">Facilities & Rooms Booking System</p>
                <p> THMSS eBooking is a system dedicated to streamline the reservation process for various facilities and rooms, for both teachers and students. It offers a user-friendly interface where users can easily check availability, make reservations, and manage bookings in real-time. The system also provides detailed analytics and reporting features for administrators to optimize space utilization.</p>

                <a href="/login" class="btn btn-outline-light mt-5">Login</a>
            </div>
        </div>
    </body>
</html>