<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="/static/css/top-navigation.css">
        <link rel="stylesheet" type="text/css" href="/static/css/home.css">
        <link rel="icon" type="image/png" href="/static/photos/icon.png">
        <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script>
            const field = {{ field|tojson| safe  }};
            const input_format = {{ input_format|tojson| safe  }};
        </script>
        <script src="/static/js/management.js"></script>
    </head>
    <body>
        {% include "/top_navigation.html" %}
        
        <div id="content">
            <h1>
                <a href="/management/{{ tname }}">{{ ' '.join(tname.split('_'))|title }} Management</a>
            </h1>
            
            <div id="error"></div>
            <div class="table">
                {{ table|safe }}
            </div>

        </div>
    </body>
</html>