<html>

<head>
    <title>Records</title>
    {% include "/header.html" %}

    <script>
        var selected = ''

        $(document).ready(function () {
            var path = window.location.href.split('/').pop();

            $('.' + path).addClass("active");
            var tableinfo = $("#tableinfo").DataTable({
                ajax: {
                    type: 'POST',
                    url: window.location.href,
                    dataSrc: 'data'
                },
                scrollX: true

            })
            $(document).on('click', "input[value='Cancel'], input[value='Restore']", function () {

                const type = $(this).val();

                $('#'+type.toLowerCase()+'Modal').modal('show');

                selected = $(this).attr("name");
                
                // if (confirm(text)) {
                //     $.ajax({
                //         type: 'POST',
                //         url: window.location.href + '/' + $(this).attr("name"),
                //         success: function (response) {
                //             tableinfo.ajax.reload(null, false);
                //         },
                //         error: function (error) {
                //             console.log("Error:", error);
                //         }
                //     });
                // }
            });
            $(document).on('click', "button.cancel, button.restore", function () {
                loading_alert_box()
                $.ajax({
                    type: 'POST',
                    url: window.location.href + '/' + selected,
                    success: function (response) {
                        if ('error' in response){
                            error_alert_box(response.error);
                        }
                        else{
                            success_alert_box();
                        }
                        tableinfo.ajax.reload(null, false);
                    },
                    error: function (error) {
                        console.log("Error:", error);
                    }
                });
            });
        });

    </script>
</head>

<body>
    {% include "/top_navigation.html" %}

    <div class="container mt-5">
        <h2 class="fw-bold">
            <a class="text-decoration-none text-dark" href="/records/{{ tname|safe }}">My Records -
                {{tname.title()}}</a>
        </h2>
        <hr>
        <p>
            View and manage your {{ tname }} booking records here. Cancel or restore the booking by clicking the coresponding button.
        </p>
        <p>
            Use the tabs to filter your bookings by status.
        </p>
        
        <ul class="pagination">
            <li class="page-item approved"><a class="page-link" href="/records/{{ tname|safe }}">Approved</a></li>
            <li class="page-item denied"><a class="page-link" href="/records/{{ tname|safe }}/denied">Denied</a></li>
            <li class="page-item pending"><a class="page-link" href="/records/{{ tname|safe }}/pending">Pending</a></li>
            <li class="page-item cancelled"><a class="page-link"
                    href="/records/{{ tname|safe }}/cancelled">Cancelled</a></li>
        </ul>

        <table id="tableinfo" class="display">
            <thead>
                <tr>
                    <th>BID</th>
                    <th>Start Datetime</th>
                    <th>End Datetime</th>
                    <th>{{tname[0].upper()}}ID</th>
                    <th>{{tname.title()}} Name</th>
                    <th>Description</th>
                    <th>Unit Name</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cancelModalLabel">Cancel Entry</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to cancel this record?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger cancel" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="restoreModal" tabindex="-1" aria-labelledby="restoreModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="restoreModalLabel">Restore Entry</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to restore this record?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary restore" data-bs-dismiss="modal">Restore</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>