<html>
    <head>
        <title>Records</title>
        <link rel="stylesheet" type="text/css" href="/static/css/top-navigation.css">
        <link rel="stylesheet" type="text/css" href="/static/css/home.css">
        <link rel="stylesheet" type="text/css" href="/static/css/records.css">
        <link rel="icon" type="image/png" href="/static/photos/icon.png">
        <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="/static/js/records.js"></script>
    </head>
    <body>
        {% include "/top_navigation.html" %}
        
        <div id="content">
            <h1>
                <a href="/records/{{ tname|safe }}">My Records - {{tname.title()}}</a>
            </h1>
            <div class = "pagination">
                <ul>
                    <li><button class="active">Approved </button></li>
                    <li><button>Denied</button></li>
                    <li><button>Pending</button></li>
                    <li><button>Cancelled</button></li>
                </ul>
            </div>
            <div id="error"></div>
            <div class="approved">{{ table["approved"]|safe }}</div>
            <div class="denied">{{ table["denied"]|safe }}</div>
            <div class="pending">{{ table["pending"]|safe }}</div>
            <div class="cancelled">{{ table["cancelled"]|safe }}</div>
        </div>
    </body>
</html>