<div class="top-navigation-wrap">
    <span>
        <a href="/home">THMSS - Facilities & Rooms Booking System</a>
    </span>
    <div class="logout">
        <a href="/logout">Logout</a>
    </div>
</div>

<div class="top-navigation-main">
    <div class="top-level-entry-container">
        <a href="/home"><button> Home </button></a>
    </div>
    <div class="top-level-entry-container">
        <button> Booking </button>
        <ul>
            <a href="/booking/room">
                <li>Room</li>
            </a>
            <a href="/booking/facility">
                <li>Facility</li>
            </a>
        </ul>
    </div>
    
    <div class="top-level-entry-container">
        <button> My Records </button>
        <ul>
            <a href="/records/room">
                <li> Room </li>
            </a>
            <a href="/records/facility">
                <li> Facility </li>
            </a>
        </ul>
    </div>
    {% set table = ["facility", "facility_record", "roles", "room", "room_record", "school_category", "school_unit", "user"] %}
    {% set flag = [] %}
    {% for i in table %}
        {% if permission["EDIT"+i.upper()] %}
            {% if flag|length == 0 %}
                {% set temp = flag.append(True) %}
                <div class="top-level-entry-container">
                    <button> Management </button>
                    <ul>
            {% endif %}
            <a href="/management/{{ i|safe }}">
                <li>{{ " ".join(i.split("_")).title()|safe }}</li>
            </a>
        {% endif %}
        
    {% endfor %}
    {% if flag|length %}
            </ul>
        </div>
    {% endif %}
    {% if permission["ROLE"]=="ADMIN" %}
    <div class="top-level-entry-container">
        <a class="top-level-entry-container" href="/sql"><button> SQL </button></a>
    </div>
    {% endif %}
</div>