<div class="bg-photo"></div>
<div class="bg-photo2"></div>
<nav class="navbar navbar-expand navbar-dark" style="font-size: 1.25em;">
    <div class="container-fluid">
        <a style="font-size: 1.25em;" class="navbar-brand" href="/">THMSS <span class="text-white-50">eBooking</span></a>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login">
                        Login
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid fixed-bottom" style="opacity: 70%">
    <div class="container alert-box">

    </div>
</div>